@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   /* background-color: #e8f5dc;*/


}

Tab {
   color: white !important;
   outline:none!important
}
 
Tab:active {
   color: white !important;
    
}

.text-green-aaa {
   color: #758467 !important;
   color:#737b4c !important;
    


}

.bg-green-aaa {
   background-color: #758467 !important;
   background-color: #737b4c!important;
   


}

.text-brown-aaa {
    
   color:#ac9148 !important;


}

.bg-brown-aaa {
    
   background-color:#ac9148 !important;


}

.text-green-bbb {
   color: #344e41 !important;
}

.bg-green-bbb {
   background-color: #344e41 !important;
}

.text-green-ccc {
   color: #bab86c !important;
}

.bg-green-ccc {
   background-color: #bab8 !important;
}
#react-aria8109920536{
   background-color: #fff !important;
}
.kHxKDT  {
   display: none!important;
   
}
.kHxKDT:hover  {
   display: none;
   
}