@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
   /* background-color: #e8f5dc; */
   margin: 0;
   padding: 0;
}
.cl-internal-1nuz2sv {
   display: none;
   
}
Tab {
   color: white !important;
   outline:none!important
}
 
Tab:active {
   color: white !important;
    
}



#react-aria8109920536{
   background-color: #fff !important;
}
.kHxKDT  {
   display: none!important;
   
}
.kHxKDT:hover  {
   display: none;
   
}